* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    padding-top: 77px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    background-color: #2A263E;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
.container {
    width: 1460px;
    margin: 0 auto;
}
.container-block {
    width: 1180px;
    margin: 0 auto;
}
.green {
    color: #47DC65;
}
.red {
    color: #EE6F85;
}
.blue {
    color: #19A8F5;
}
/* header */

.header {
    padding: 10px 0px 10px 0px;
    background-color: #34324C;
}
.header__position {
    position: fixed;
    width: 100%;
    top: 0;
}
.header-hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header-logo {
    display: flex;
    align-items: center;
}
.header-logo__title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 35px;
}
.header__context {
    font-size: 15px;
    font-weight: medium;
}
.dropbox {
    background-color: #EFECFF;
    padding: 5px 10px;
    border-radius: 5px;
}
.notific__icon {
    padding: 0px 10px 0px 10px;
    border-right: 1px solid #EFECFF;
    border-left: 1px solid #EFECFF;
    border-bottom: 2px solid transparent;
}
.header__lang {
    font-size: 17px;
    font-weight: medium;
    color: #928CAC;
    padding: 0px 0px 5px 0px;
}
.lang-active {
    font-weight: bold;
    color: #EFECFF;
    border-bottom: 2px solid #EFECFF;
}
.header-block__menu {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* sidebar */

.sidebar {
    width: 300px;
}
.sidebar__account__title {
    font-size: 13px;
    font-weight: 700;
}
.sidebar__account__logo-img {
    width: 60px;
    transition: 0.3s;
}
.sidebar__account__logo:hover {
    cursor: pointer;
}
.sidebar__account__info {
    font-size: 13px;
    font-weight: 500;
}
.sidebar__account__adress {
    font-size: 13px;
    font-weight: 400;
    color: #928CAC;
}
.sidebar__account__logo {
    background: url('./assets/gerb.png') no-repeat;
    background-position: right;
    background-color: #2F2B43;
    border-bottom: 1px solid #4B4962;
    padding: 30px 10px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* sidebar tools */

.sidebar__tools {
    width: 17%;
    height: 540px;
    margin: 10px;
    background-color: #2F2B43;
    border: 1px solid #433E5A;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar__tools__item {
    margin: 22px 10px;
}
.sidebar__tools__item-active {
    padding: 5px;
    border-radius: 10px;
    background-color: #6834D5;
}
.sidebar__tools__item-wrapper {
    margin-top: 40px;
}
.sidebar__tools__icon {
    width: 30px;
}
.sidebar__article {
    background-color: #34324C;
    border-left: 1px solid #707070;
    width: 100%;
    height: 100vh;
}
.sidebar__content {
    display: flex;
}
.sidebar__article-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
    width: 92%;
    margin: 0 auto;
    border-bottom: 1px solid #928CAC;
}
.sidebar__article__title {
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
}
.sidebar__article__text {
    font-size: 14px;
    font-weight: 500;
}
.sidebar__article__wrapper {
    margin-top: 20px;
}
.sidebar__article__stats {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    height: 30px;
    width: 40px;
    background-color: #6834D5;
    border-radius: 5px;
}
.sidebar__article div:hover {
    cursor: pointer;
}

/* hero content */

.hero {
    display: flex;
}
.hero-content {
    margin-left: 20px;
}
.hero-content__link {
    color: #928CAC;
    font-size: 14px;
    font-weight: 700;
    padding: 20px 0px;
    margin-right: 40px;
}
.hero-content__link-active {
    color: #EFECFF;
    border-bottom: 2px solid #D4D9F8;
}
.hero-content__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #928CAC;
}
.apexcharts-text {
    font-size: 30px;
    font-weight: 900;
    color: white;
}
.hero-content-state__block {
    background-color: #2F2B43;
    border-radius: 10px;
    width: 350px;
    height: 270px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.hero-content-state__desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    
}
.hero-content-state__icon {
    margin-right: 5px;
    width: 8px;
    height: 8px;
}
.hero-content-state__text {
    font-size: 11px;
    font-weight: 700;
    margin-right: auto;
}
.hero-content__state__wrapper {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.hero-content-state__desc span {
    font-size: 14px;
    margin-left: 30px;
}
.hero-content-diagrams {
    display: flex;
    justify-content: space-between;
}
.hero-content-diagrams {
    margin-top: 30px;
}
.hero-content-state__block-diagram {
    margin: 0px 5px 0px 5px;
    background-color: #2F2B43;
    border-radius: 10px;
    width: 510px;
    height: 270px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* hero content card */
.hero-content-card {
    width: 260px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-content-card__header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-bottom: 15px;
    border-bottom: 2px solid #A381E8;
}
.header-content-card__logo {
    background-color: #7542DD;
    border-radius: 30px;
}
.hero-content-card__block {
    margin-left: 20px;
}
.header-content-card__title {
    font-size: 22px;
    font-weight: 900;
}
.header-content-card__text {
    font-size: 13px;
    font-weight: 900;
}
.hero-content-card__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid #A381E8;
}
.hero-content-card__info div {
    display: flex;
    align-items: center;
}
.hero-content-card__info-value {
    font-weight: 900;
}
.hero-content-card__info-title {
    margin-left: 15px;
    font-size: 12px;
    font-weight: 500;
}
.hero-content-card {
    width: 290px;
    height: 270px;
    border-radius: 16px;
    padding: 35px;
    background-color: #6A34DA;
}
.tb { 
    border-collapse: 
    collapse; 
    width: 100%;
    margin-left: 10px;
}
.tb th, .tb td {  
    font-size: 12px;
    border: solid 1px #54506B; 
    width: 110px;
    height: 30px;
    color: #8981A4;
    text-align: center;
    border-left: none;

}
.tb th:first-child {
    width: 180px;
    text-align: left;
}
.tb td:last-child {
    border-right: none;
}
.tb th { 
    color: #ffffff; 
    border: none; 
    padding-bottom: 20px;
    background-color: transparent; 
}
.hero-content-table__name {
    font-size: 14px;
    font-weight: 900;
    padding: 20px;
    color: #FFFFFF;
}
.first__column {
    text-align: left;
}
.hero__table-content {
    padding: 20px 20px 20px 0px;
    background-color: #2F2B43;
    border-radius: 10px;
    display: flex;
    width: 700px;
}
.hero__table-content-btns {
    padding-right: 5px;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #54506B;
}
.hero__table-content-btn {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #54506B;
    margin-bottom: 10px;
}
.hero__table-content-btn-active {
    background-color: #6834D5;
}

.hero-information__diagram {
    padding: 20px 15px;
    background-color: #2F2B43;
    border-radius: 10px;
    margin-left: 10px;
    width: 470px;
}
.hero__information {
    margin-top: 10px;
    display: flex;
}
.hero-information__diagram-title {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}
.hero-information__diagram-title img {
    margin-left: 20px;
    width: 25px;
}
.hero-information__diagram-desc {
    margin: 25px 0px 25px 0px;
    font-size: 12px;
    font-weight: 400;
}
.hero-information__diagram-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-information__diagram-item img {
    margin-right: 5px;
    width: 8px;
    height: 8px;
}
.hero-information__diagram-item p {
    font-size: 12px;
    font-weight: 400;
}
.hero-information__diagram-item div {
    display: flex;
    align-items: center;
}