<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap" rel="stylesheet">
    <title>E-Yer Nazorat</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript">
    </script>
    <script type="text/javascript" src="./index.js"></script>
</head>
<body>

    <section class="modal">

        <div class="header-modal">
            <div class="header-modal-block">
                <h1 class="header-block__title">
                    Huquqbuzarlik qo'shish
                </h1>
                <img class="header-block__img" src="./assets/edit.png" alt="edit">
            </div>
            <a class="header-close">
                <img class="header-close__img" src="./assets/close.png" alt="close">
            </a>
        </div>

        <div class="form">
            <form action="">

                <div class="form__wrapper">
                    <label class="label__title" for="manba">Manba *</label>
                    <input class="input" type="text" id="manba" required placeholder="Inspektor">
                </div>

                <h1 class="form__title">O'zboshimcha egallangan yer m'alumotlari</h1>

                <div class="form__container-wrapper">
                    <div class="form__container">
                        <div class="form__wrapper form__container-full">
                            <label class="label__title" for="manba">Viloyat/Tuman *</label>
                            <select class="select" name="" id="">
                                <option class="option" value="">O'zbekiston Respublikasi</option>
                            </select>
                        </div>
                        <div class="form__wrapper form__container-full">
                            <label class="label__title" for="manba">Tuman *</label>
                            <select class="select" name="" id="">
                                <option class="option" value="">Taxtako'pir tumani</option>
                            </select>
                        </div>
                    </div>


                    <div class="form__container">
                        <div class="form__wrapper form__container-full">
                            <label class="label__title" for="manba">Mahalla</label>
                            <select class="select" name="" id="">
                                <option class="option" value="">Taxtako'pir tumanining shaharchalari</option>
                            </select>
                        </div>
                        <div class="form__wrapper form__container-full">
                            <label class="label__title" for="manba">Ko'cha</label>
                            <input class="input" type="text" id="manba" required placeholder="">
                        </div>
                    </div>


                    <div class="form__container">
                        <div class="form__wrapper form__container-quarter">
                            <label class="label__title" for="manba">Uy raqami</label>
                            <input class="input" type="text" id="manba" required placeholder="">
                        </div>
                        <div class="form__wrapper form__container-quarter">
                            <label class="label__title" for="manba">Mo'lljal</label>
                            <input class="input" type="text" id="manba" required placeholder="">
                        </div>
                        <div class="form__wrapper form__container-quarter">
                            <label class="label__title" for="manba">Kadastr raqami</label>
                            <input class="input" type="text" id="manba" required placeholder="">
                        </div>
                        <div class="form__wrapper form__container-quarter">
                            <label class="label__title" for="manba">Taxminiy o'zboshimcha maydon (kv2)</label>
                            <input class="input" type="text" id="manba" required placeholder="">
                        </div>
                    </div>
                    <div class="form__map">
                        <div id="map" class="map"></div>
                    </div>

                    <div class="form__container">
                        <div class="form__wrapper form__container-full">
                            <label class="label__title" for="manba">Viloyat/Tuman *</label>
                            <input class="input input-file" type="file" id="manba" placeholder="drag images (10 files) here, max.size">
                        </div>
                        <div class="form__wrapper form__container-full">
                            <label class="label__title" for="manba">Huquqbuzar shaxs</label>
                            <div class="form__radio">
                                <div class="form__wrapper radio-block">
                                    <label class="label__title" for="manba">Jasmoniy shaxs</label>
                                    <input class="input radio" type="radio" id="manba" required placeholder="">
                                </div>
                                <div class="form__wrapper radio-block">
                                    <label class="label__title" for="manba">Yuridik shaxs</label>
                                    <input class="input radio" type="radio" id="manba" required placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-grid">
                        <div class="form-grid-comment">
                            <div class="form__wrapper">
                                <label class="label__title" for="manba">Qo'shimcha ma'lumotlar</label>
                                <input class="input input-comment" type="text" id="manba" required placeholder="">
                            </div>
                            
                        </div>
                        <div class="grid-inputs">
                            <div class="grid-inputs-container">
                                <div class="form__wrapper form-grid-field">
                                    <label class="label__title" for="manba">Familiya</label>
                                    <input class="input" type="text" id="manba" required placeholder="">
                                </div>
                                <div class="form__wrapper form-grid-field">
                                    <label class="label__title" for="manba">Ismi</label>
                                    <input class="input" type="text" id="manba" required placeholder="">
                                </div>
                            </div>
                            <div class="grid-inputs-container">
                                <div class="form__wrapper form-grid-field">
                                    <label class="label__title" for="manba">Otasining ismi</label>
                                    <input class="input" type="text" id="manba" required placeholder="">
                                </div>
                                <div class="form__wrapper form-grid-field">
                                    <label class="label__title" for="manba">JSH SHIR</label>
                                    <input class="input" type="text" id="manba" required placeholder="">
                                </div>
                            </div>
                            <div class="grid-inputs-container">
                                <div class="form__wrapper form-grid-field">
                                    <label class="label__title" for="manba">STIR</label>
                                    <input class="input" type="text" id="manba" required placeholder="">
                                </div>
                                
                            </div>
                        </div>

                    </div>

                <h1 class="form__title">Arizachi ma'lumotlari</h1>

                <div class="form__submit">
                    <div class="form__wrapper form__container-submit">
                        <label class="label__title" for="manba">Uy raqami</label>
                        <input class="input" type="text" id="manba" required placeholder="">
                    </div>
                    <div class="form__wrapper form__container-submit">
                        <label class="label__title" for="manba">Mo'lljal</label>
                        <input class="input" type="text" id="manba" required placeholder="">
                    </div>
                    <div class="form__wrapper form__container-submit">
                        <label class="label__title" for="manba">Kadastr raqami</label>
                        <input class="input" type="text" id="manba" required placeholder="">
                    </div>
                    <button class="btn" type="submit">
                        Saqlash
                    </button>
                </div>

            </form>

        </div>

    </section>

</body>
</html>